@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model NeoGym.Models.Product
<!--<!doctype html>
<html lang="en">
<head>
    <title>Title</title>-->
<!-- Required meta tags -->
<!--<meta charset="utf-8">
<meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!-- Bootstrap CSS -->
<!--<link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" href="./style.css">
</head>-->
@*<body>*@
<div class=" contact_section"
    <div id="qodef-page-inner" class="qodef-content-grid">

        <main id="qodef-page-content"
              class="qodef-grid qodef-layout--template qodef--no-bottom-space "
              role="main">
            <div class="qodef-grid-inner clear">
                <div id="qodef-woo-page"
                     class="qodef-grid-item qodef--single qodef-popup--magnific-popup qodef-magnific-popup qodef-popup-gallery">

                    <div class="woocommerce-notices-wrapper"></div><div id="product-687"
                                                                        class="new product type-product post-687 status-publish first instock product_cat-equipment product_cat-fitness product_cat-foodandhealth product_tag-fitness product_tag-outdoor product_tag-waterproof has-post-thumbnail shipping-taxable purchasable product-type-simple">

                        <div class="qodef-woo-single-inner">
                            <div class="qodef-woo-single-image">
                                <span class="qodef-woo-product-mark qodef-new">New</span><div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images qodef-position--left", data-columns="4", style="opacity: 1; transition: opacity 0.25s ease-in-out;">
                                    <figure class="woocommerce-product-gallery__wrapper">
                                        <div data-thumb="~/Content/images/product/@Url.Content(@Model.image)" data-thumb-alt="rr" class="woocommerce-product-gallery__image">
                                            <a href="~/Content/images/product/@Url.Content(@Model.image)" data-type="image" class="qodef-popup-item">
                                                <img width="600" height="754" src="" class="wp-post-image" alt="rr" title="shop-single-img-17" data-caption="" data-src="~/Content/images/product/@Url.Content(@Model.image)" data-large_image="~/Content/images/product/@Url.Content(@Model.image)" data-large_image_width="800" data-large_image_height="1005" decoding="async" srcset="~/Content/images/product/@Url.Content(@Model.image) 600w, ~/Content/images/product/@Url.Content(@Model.image) 300w, ~/Content/images/product/@Url.Content(@Model.image) 239w, ~/Content/images/product/@Url.Content(@Model.image) 768w, ~/Content/images/product/@Url.Content(@Model.image) 800w" sizes="(max-width: 600px) 100vw, 600px">
                                            </a>
                                        </div>
                                        <div class="qodef-woo-thumbnails-wrapper">
                                            <div data-thumb="~/Content/images/product/@Url.Content(@Model.image)" data-thumb-alt="aa" class="woocommerce-product-gallery__image">
                                                <a href="~/Content/images/product/@Url.Content(@Model.image)" data-type="image" class="qodef-popup-item">
                                                    <img width="800" height="800" src="~/Content/images/product/@Url.Content(@Model.image)" class="" alt="aa" title="blog-single-img-17.2" data-caption="" data-src="~/Content/images/product/@Url.Content(@Model.image)" data-large_image="~/Content/images/product/@Url.Content(@Model.image)" data-large_image_width="800" data-large_image_height="800" decoding="async" srcset="~/Content/images/product/@Url.Content(@Model.image) 800w, ~/Content/images/product/@Url.Content(@Model.image) 100w, ~/Content/images/product/@Url.Content(@Model.image) 600w, ~/Content/images/product/@Url.Content(@Model.image) 300w, ~/Content/images/product/@Url.Content(@Model.image) 150w, ~/Content/images/product/@Url.Content(@Model.image) 768w, ~/Content/images/product/@Url.Content(@Model.image) 650w" sizes="(max-width: 800px) 100vw, 800px">
                                                </a>
                                            </div>
                                            <div data-thumb="~/Content/images/product/@Url.Content(@Model.image)" data-thumb-alt="aa" class="woocommerce-product-gallery__image">
                                                <a href="~/Content/images/product/@Url.Content(@Model.image)" data-type="image" class="qodef-popup-item">
                                                    <img width="800" height="800" src="~/Content/images/product/@Url.Content(@Model.image)" class="" alt="aa" title="blog-single-img-17.3" data-caption="" data-src="~/Content/images/product/@Url.Content(@Model.image)" data-large_image_width="800" data-large_image_height="800" decoding="async" loading="lazy" srcset="~/Content/images/product/@Url.Content(@Model.image) 800w, ~/Content/images/product/@Url.Content(@Model.image) 100w, ~/Content/images/product/@Url.Content(@Model.image) 600w, ~/Content/images/product/@Url.Content(@Model.image) 300w, ~/Content/images/product/@Url.Content(@Model.image) 150w, ~/Content/images/product/@Url.Content(@Model.image) 768w, ~/Content/images/product/@Url.Content(@Model.image) 650w" sizes="(max-width: 800px) 100vw, 800px">
                                                </a>
                                            </div>
                                            <div data-thumb="~/Content/images/product/@Url.Content(@Model.image)" data-thumb-alt="aa" class="woocommerce-product-gallery__image">
                                                <a href="~/Content/images/product/@Url.Content(@Model.image)" data-type="image" class="qodef-popup-item">
                                                    <img width="800" height="800" src="~/Content/images/product/@Url.Content(@Model.image)" class="" alt="aa" title="blog-single-img-17.4" data-caption="" data-src="~/Content/images/product/@Url.Content(@Model.image)" data-large_image_width="800" data-large_image_height="800" decoding="async" loading="lazy" srcset="~/Content/images/product/@Url.Content(@Model.image) 800w, ~/Content/images/product/@Url.Content(@Model.image) 100w, ~/Content/images/product/@Url.Content(@Model.image) 600w, ~/Content/images/product/@Url.Content(@Model.image) 300w, ~/Content/images/product/@Url.Content(@Model.image) 150w, ~/Content/images/product/@Url.Content(@Model.image) 768w, ~/Content/images/product/@Url.Content(@Model.image) 650w" sizes="(max-width: 800px) 100vw, 800px">
                                                </a>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                            <div class="summary entry-summary">
                                <h1 class="qodef-woo-product-title product_title entry-title">
                                    @Model.name
                                </h1><p class="@Model.price">
                                    <span class="woocommerce-Price-amount amount">
                                        <bdi>
                                            <span class="woocommerce-Price-currencySymbol">đ</span>@Model.price
                                        </bdi>
                                    </span>
                                </p>

                                <div class="woocommerce-product-rating">
                                    <div class="qodef-woo-ratings qodef-m">
                                        <div class="qodef-m-inner">
                                            <div class="qodef-m-star qodef--initial">
                                                <svg class="qodef-svg--star qodef-m-star-item"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     width="18.938"
                                                     height="18"
                                                     viewBox="0 0 18.938 18">
                                                    <path d="M12,17.47,17.851,21,16.3,14.341l5.165-4.478-6.809-.585L12,3,9.34,9.278l-6.809.585L7.7,14.341,6.148,21Z"
                                                          transform="translate(-2.531 -3)"></path>
                                                </svg><svg class="qodef-svg--star qodef-m-star-item"
                                                           xmlns="http://www.w3.org/2000/svg"
                                                           width="18.938"
                                                           height="18"
                                                           viewBox="0 0 18.938 18">
                                                    <path d="M12,17.47,17.851,21,16.3,14.341l5.165-4.478-6.809-.585L12,3,9.34,9.278l-6.809.585L7.7,14.341,6.148,21Z"
                                                          transform="translate(-2.531 -3)"></path>
                                                </svg><svg class="qodef-svg--star qodef-m-star-item"
                                                           xmlns="http://www.w3.org/2000/svg"
                                                           width="18.938"
                                                           height="18"
                                                           viewBox="0 0 18.938 18">
                                                    <path d="M12,17.47,17.851,21,16.3,14.341l5.165-4.478-6.809-.585L12,3,9.34,9.278l-6.809.585L7.7,14.341,6.148,21Z"
                                                          transform="translate(-2.531 -3)"></path>
                                                </svg><svg class="qodef-svg--star qodef-m-star-item"
                                                           xmlns="http://www.w3.org/2000/svg"
                                                           width="18.938"
                                                           height="18"
                                                           viewBox="0 0 18.938 18">
                                                    <path d="M12,17.47,17.851,21,16.3,14.341l5.165-4.478-6.809-.585L12,3,9.34,9.278l-6.809.585L7.7,14.341,6.148,21Z"
                                                          transform="translate(-2.531 -3)"></path>
                                                </svg><svg class="qodef-svg--star qodef-m-star-item"
                                                           xmlns="http://www.w3.org/2000/svg"
                                                           width="18.938"
                                                           height="18"
                                                           viewBox="0 0 18.938 18">
                                                    <path d="M12,17.47,17.851,21,16.3,14.341l5.165-4.478-6.809-.585L12,3,9.34,9.278l-6.809.585L7.7,14.341,6.148,21Z"
                                                          transform="translate(-2.531 -3)"></path>
                                                </svg>
                                            </div><div class="qodef-m-star qodef--active"
                                                       style="width:100%">
                                                <svg class="qodef-svg--star qodef-m-star-item"
                                                     xmlns="http://www.w3.org/2000/svg"
                                                     width="18.938"
                                                     height="18"
                                                     viewBox="0 0 18.938 18">
                                                    <path d="M12,17.47,17.851,21,16.3,14.341l5.165-4.478-6.809-.585L12,3,9.34,9.278l-6.809.585L7.7,14.341,6.148,21Z"
                                                          transform="translate(-2.531 -3)"></path>
                                                </svg><svg class="qodef-svg--star qodef-m-star-item"
                                                           xmlns="http://www.w3.org/2000/svg"
                                                           width="18.938"
                                                           height="18"
                                                           viewBox="0 0 18.938 18">
                                                    <path d="M12,17.47,17.851,21,16.3,14.341l5.165-4.478-6.809-.585L12,3,9.34,9.278l-6.809.585L7.7,14.341,6.148,21Z"
                                                          transform="translate(-2.531 -3)"></path>
                                                </svg><svg class="qodef-svg--star qodef-m-star-item"
                                                           xmlns="http://www.w3.org/2000/svg"
                                                           width="18.938"
                                                           height="18"
                                                           viewBox="0 0 18.938 18">
                                                    <path d="M12,17.47,17.851,21,16.3,14.341l5.165-4.478-6.809-.585L12,3,9.34,9.278l-6.809.585L7.7,14.341,6.148,21Z"
                                                          transform="translate(-2.531 -3)"></path>
                                                </svg><svg class="qodef-svg--star qodef-m-star-item"
                                                           xmlns="http://www.w3.org/2000/svg"
                                                           width="18.938"
                                                           height="18"
                                                           viewBox="0 0 18.938 18">
                                                    <path d="M12,17.47,17.851,21,16.3,14.341l5.165-4.478-6.809-.585L12,3,9.34,9.278l-6.809.585L7.7,14.341,6.148,21Z"
                                                          transform="translate(-2.531 -3)"></path>
                                                </svg><svg class="qodef-svg--star qodef-m-star-item"
                                                           xmlns="http://www.w3.org/2000/svg"
                                                           width="18.938"
                                                           height="18"
                                                           viewBox="0 0 18.938 18">
                                                    <path d="M12,17.47,17.851,21,16.3,14.341l5.165-4.478-6.809-.585L12,3,9.34,9.278l-6.809.585L7.7,14.341,6.148,21Z"
                                                          transform="translate(-2.531 -3)"></path>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#reviews"
                                       class="woocommerce-review-link"
                                       rel="nofollow">
                                        (<span class="count">1</span> customer
                                        review)
                                    </a>
                                </div>

                                <div class="woocommerce-product-details__short-description">
                                    <p>
                                        @Model.description
                                    </p>
                                </div>

                                <form class="cart"
                                      action="https://kropp.qodeinteractive.com/product/black-sneakers/"
                                      method="post"
                                      enctype="multipart/form-data">

                                    <div class="qodef-quantity-buttons quantity">
                                        <label class="screen-reader-text"
                                               for="quantity_671d5ab1293a5">
                                            Black
                                            Sneakers quantity
                                        </label>
                                        <span class="qodef-quantity-minus"></span>
                                        <input type="text"
                                               id="quantity_671d5ab1293a5"
                                               class="input-text qty text qodef-quantity-input"
                                               data-step="1" data-min="1"
                                               data-max name="quantity"
                                               value="1" title="Qty" size="4"
                                               placeholder inputmode="numeric"
                                               fdprocessedid="pnhmiu">
                                        <span class="qodef-quantity-plus"></span>
                                    </div>

                                    <button type="submit" name="add-to-cart"
                                            value="687"
                                            class="single_add_to_cart_button button alt wp-element-button"
                                            fdprocessedid="6uoziq">
                                        Add to
                                        cart
                                    </button>

                                </form>


                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </main>

    </div>
</div>
<link rel="stylesheet" href="~/Content/css/productDetail.css">
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
@*</body>*@
@*</html>*@